Django==4.0.5
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
psycopg2==2.9.3
# psycopg2-binary-2.9.3
Pillow==9.1.1
django-elasticsearch-dsl==7.2.2
django-admin-rangefilter==0.7.0
django-cors-headers==3.13.0
django-admin-geomap==1.2.1
django-summernote==0.8.20.0
django-object-actions==4.0.0

############ To Deploy
gunicorn
uWSGI>=2.0.19.1,<2.1